<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>

      <databases>
         <!-- Custom GetItemCommand in order to support the "Enforcing of Version Presence" functionality -->
         <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
            <Engines.DataEngine.Commands.GetItemPrototype>
               <obj type="Sitecore.SharedSource.PartialLanguageFallback.DataEngine.GetItemCommand, Sitecore.SharedSource.PartialLanguageFallback" />
            </Engines.DataEngine.Commands.GetItemPrototype>
         </database>
         <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
            <Engines.DataEngine.Commands.GetItemPrototype>
               <obj type="Sitecore.SharedSource.PartialLanguageFallback.DataEngine.GetItemCommand, Sitecore.SharedSource.PartialLanguageFallback" />
            </Engines.DataEngine.Commands.GetItemPrototype>
         </database>
      </databases>

      <pipelines>
         <renderContentEditor>
            <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client">
               <patch:attribute name="type">Sitecore.SharedSource.PartialLanguageFallback.Pipelines.RenderContentEditor.CustomRenderSkinedContentEditor,Sitecore.SharedSource.PartialLanguageFallback</patch:attribute>
            </processor>
         </renderContentEditor>
      </pipelines>

      <standardValues>
         <providers>
            <add name="sitecore">
               <patch:attribute name="type">Sitecore.SharedSource.PartialLanguageFallback.Providers.FallbackLanguageProvider,Sitecore.SharedSource.PartialLanguageFallback</patch:attribute>
               <!-- Pipe separated list of the databases that support the fallback 
               example: master|web
          -->
               <SupportedDatabases>master|web</SupportedDatabases>
            </add>
         </providers>
      </standardValues>

      <sites>
         <site name="shell">
            <patch:attribute name="enableFallback">true</patch:attribute>
         </site>
         <site name="website">
            <patch:attribute name="enableFallback">true</patch:attribute>
            <!--<patch:attribute name="enforceVersionPresence">true</patch:attribute>-->
         </site>

         <!-- When setting up "enforceVersionPresence" feature for the website above
           make sure to uncomment the following for "publisher" site as well
      -->
         <!--<site name="publisher">
        <patch:attribute name="enforceVersionPresence">true</patch:attribute>
      </site>-->
      </sites>

      <settings>
         <!--
            If enabled, the 'enable fallback' checkbox on the field definition item will be looked up
            in the SAME language version as the context language.
            If set to 'true', then when 'en-CA' tries to fallback to 'en', the checkbox field will be retrieved
            from the field definition item in 'en-CA', thus such version should exist.
            This feature enables you to have different fallback settings for the same field in different content languages
            If 'false', then the setting will be looked up from Fallback.MasterLanguage ('en' by default)
            Default value: false
         -->
         <setting name="Fallback.VaryFallbackSettingsPerLanguage" value="false" />

         <!--
            Pipe separated list of feild IDs that will be ignored during the fallback process 
            Example: {GUID}|{GUID}
            Default value: empty
         -->
         <setting name="Fallback.IgnoredFields" value="{C8F93AFE-BFD4-4E8F-9C61-152559854661}|{4C346442-E859-4EFD-89B2-44AEDF467D21}|{7EAD6FD6-6CF1-4ACA-AC6B-B200E7BAFE88}|{86FE4F77-4D9A-4EC3-9ED9-263D03BD1965}" />

         <!--
            Whether to process language fallback for the system fields that start with "__"
            Default value: false
         -->
         <setting name="Fallback.ProcessSystemFields" value="false" />

         <!--
            Pipe separated list of template GUIDs that support "Enforcing of Version Presence" functionality
            Default value: empty
         -->
         <setting name="Fallback.EnforceVersionPresenceTemplates" value="" />

         <setting name="Fallback.CacheSize" value="10MB" />

         <!--
            Regisered Sitecore language to be used for enforcing language fallback, i.e. 'master' language
            It is VERY important NOT to have this language to fallback to any other language on the item definition

            The value could be different depending on a locale. For US, that would be 'en' or 'en-US' for example
            If 'enforcing from master language' feature is enabled, this language will be used as a source language.

            Default value: en
         -->
         <setting name="Fallback.MasterLanguage" value="en" />
      </settings>

      <commands>
         <command name="flp:setupfallback" type="Sitecore.SharedSource.PartialLanguageFallback.Commands.SetupFallbackCommand,Sitecore.SharedSource.PartialLanguageFallback" />
      </commands>
   </sitecore>
</configuration>