.jcarousel-skin-sitecore .jcarousel-container {
}

.ie .jcarousel-skin-sitecore .jcarousel-container 
{
  width:100%;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-sitecore .jcarousel-container-horizontal {
    /*width: 100%;*/
    margin: 0 14px 0 14px;
}

.ie .jcarousel-skin-sitecore .jcarousel-container-horizontal {
    width: 100%;
}

.jcarousel-skin-sitecore .jcarousel-clip-horizontal {
    /*width:  100%;*/
    height: 74px;
    background: url("/sitecore/shell/themes/standard/images/jcarousel/carouselbg.png") repeat-x scroll 0 0;
    background-position: top left; 
}

.ie .jcarousel-skin-sitecore .jcarousel-clip-horizontal {
    width:  100%;
}

.jcarousel-skin-sitecore .jcarousel-item {
    width: 300px;
    height: 74px;
}

.jcarousel-skin-sitecore .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-sitecore .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-sitecore .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    width: 10px;
    height: 74px;
    right:-12px;
    cursor: pointer;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal.png);
}

.jcarousel-skin-sitecore .jcarousel-next-horizontal:hover 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal-hover.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-next-horizontal:active 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-next-disabled-horizontal,
.jcarousel-skin-sitecore .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-sitecore .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal-disabled.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    width: 10px;
    height: 74px;
    left:-12px;
    cursor: pointer;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal.png);
}

.jcarousel-skin-sitecore .jcarousel-prev-horizontal:hover 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal-hover.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-prev-horizontal:active 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-sitecore .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-sitecore .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal-disabled.png) no-repeat 0 0;
}

.jcarousel-skin-sitecore .scPresetCard
{
 background-color:White;
 background-image:none;  
}

.ie .jcarousel-skin-sitecore .jcarousel-next-hover
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal-hover.png) no-repeat 0 0;
}

.ie .jcarousel-skin-sitecore .jcarousel-prev-hover
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal-hover.png) no-repeat 0 0;
}