body
{
  overflow: auto;
  background: transparent;
}

.versionsContainer
{
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 33px;
  background-color: #ebebeb;
  border-top: 1px solid #B5B4AF;
  overflow: hidden;
}

.ie .versionsContainer
{
  height: 160px;
}

.innerContainer
{
  width: 0px;
  height: 100%;
}

.scrollbox
{
  overflow: auto;
  overflow-y: hidden;
  width: 100%;
}

.hidden
{
  display: none;
}

.versionItem
{
  white-space: nowrap;
  display: block;
}

.selectVersion
{
  font-weight: bold;
  margin-top: 2px;
  margin-left: 2px;
}

.versionsGridContainer
{
  margin-right:4px;
}

.ie .versionsGridContainer
{
  overflow: hidden;
}

.tablesorter
{
  border: 0;
  width: 100%;
  table-layout: fixed;
}

.tablesorter th
{
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #666666;
  text-align: left;
}
.tablesorter td
{
  border-bottom:1px solid #EAE9E1;
}

.tablesorter th,.tablesorter td
{
  padding:3px 4px 2px 4px;
}

.tablesorter th.header span
{
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 10px;
  display: inline-block;
  font:8pt tahoma;
}

.tablesorter th.headerSortUp span
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/sortup9x5.png');
}

.tablesorter th.headerSortDown span
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/sortdown9x5.png');
}

.tablesorter .selected td
{
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  font-family: tahoma;
  font-size: 8pt;
}

.tablesorter .languageColumn, .tablesorter .versionColumn
{
  width: 15%;
}

.tablesorter .dateColumn
{
  width: 17%;
}
.tablesorter .byColumn
{
  width: 20%;
}

#GridContainer {
    overflow: auto;
    height: 100% !important;
}
.scGridFooter {
    position: relative;   
}

.scGridFooter div {
    position: relative !important;
}

.scGridFooter div img{
    top: 0 !important;
}