.scWindowOuterFrame
{
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  height:auto;
}  

.scWindowFrame {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  height:auto;
}
