.scTitle {
  font: 8pt tahoma;
  font-weight: bold;
  padding: 8px 0px 4px 4px;
  border-bottom: 1px solid #999999;
}

.scEmpty {
  padding: 32px;
  font-style: italic;
  color: #666666;
  text-align: center;
}

.scButtonsTitle {
}

.scButtons {
  overflow: auto;
}

a.scButton {  
  float: left;
  width: 70px;
  height: auto;
  
  padding: 5px;
  vertical-align: top;
  cursor: default;
  text-decoration: none;
  font: 8pt tahoma;
	text-align: center;
	overflow: auto;	
}

.scButton:hover, .scButton:active {
  background: #e8f5fd;
  border: 1px solid #d8f0fa;
  padding: 4px;
}

.scButtonIconImage {
  width:32px;
  height:32px;
}

.scButtonHeader {
}

.scTilesTitle {
}

.scTiles {
}

a.scTileItem {  
  cursor: default;
  float: left;
  padding: 5px;
  text-decoration: none;
  width: 196px;
  vertical-align: top;
}

.scTileItem:hover, .scTileItem:active {
  background:#e8f5fd;
  border:1px solid #d8f0fa;
  padding: 4px;
}

.scTileItemIcon {
}

.scTileItemIconImage {
}

.scTileItemDetails {
  padding-left: 4px;
}

.scTileItemDetailsHeader {
}

.scTileItemDetailsLine {
  color:#666666;
}