body {
  overflow: hidden;
}

form {
  width: 100%;
  height: 100%;
}

#Grid {
  table-layout: fixed;
}

#Grid2 {
  table-layout: fixed;
}

#WorkboxFrame {
  width: 100%;
  vertical-align: top;
}

.scWorkboxPanel {
  border:1px solid #848484; 
  border-top: none; 
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.scWorkboxWindowCaption {
  height: 14px;
  vertical-align: top;
}

.scWorkboxWindowButtons {
  float: right; 
  position: relative;
  top: -1px;
}

.scWorkboxPageSize {
  border: none;
  padding: 0px;
}

.scWorkboxPageSizeLabel {
  color: #303030;
}

.scWorkboxPageSizeCombobox {
  font: 8pt tahoma;
  background: #e8e8e8;
  border: 1px solid #898989;
  padding: 0px;
  margin: 0px;
}

.ff span.scRollover img, .ff span.scRollover_Hover img {
  vertical-align: middle;
}