<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=SitecoreInstaller;password=password01;Data Source=SOM-DVC-00606;Database=FallbackDemoSitecore_Core"/>
  <add name="master" connectionString="user id=SitecoreInstaller;password=password01;Data Source=SOM-DVC-00606;Database=FallbackDemoSitecore_Master"/>
  <add name="web" connectionString="user id=SitecoreInstaller;password=password01;Data Source=SOM-DVC-00606;Database=FallbackDemoSitecore_Web"/>
</connectionStrings>
