/* Project section */

.scProjectSection, 
.scProjectSection:link, 
.scProjectSection:active, 
.scProjectSection:hover, 
.scProjectSection_hover, 
.scProjectSection:visited,
.scProjectSectionActive, 
.scProjectSectionActive:link, 
.scProjectSectionActive:active, 
.scProjectSectionActive:hover, 
.scProjectSectionActive_hover, 
.scProjectSectionActive:visited {
  cursor:default;
  display:block;
  font-weight:bold;
  text-decoration:none;
  padding:4px 4px 4px 4px;
}

/* Selection button */

.scFlatButton, 
.scFlatButton:link, 
.scFlatButton:visited,
.scFlatButtonActive
{
  display:block;
  border:1px solid #dcdcdc;
  padding:2px 4px 4px 4px; 
  margin:4px 2px 2px 2px;  	
}

.scFlatButton:active, 
.scFlatButton:hover, 
.scFlatButton_hover, 
.scFlatButtonActive:link, 
.scFlatButtonActive:active, 
.scFlatButtonActive:hover, 
.scFlatButtonActive_hover, 
.scFlatButtonActive:visited 
{
  display:block;
  background:#EDB078;
  border:1px solid #dcdcdc;
  padding:2px 4px 4px 4px; 
  margin:4px 2px 2px 2px;  	
}

.scFlatButton:active, 
.scFlatButton:hover, 
.scFlatButton_hover, 
.scFlatButtonActive:link, 
.scFlatButtonActive:active, 
.scFlatButtonActive:hover, 
.scFlatButtonActive_hover, 
.scFlatButtonActive:visited 
{
  border:1px solid #999999;
}

.scFlatButtonHeader {
  font-weight:bold;
  text-decoration:none;
}

.scGroup 
{
	border:1px solid #dcdcdc;
	padding:4px;
	background:f8f8f8;
}

.scGroup legend 
{
	font-weight:bold;
}

.scInstallerField {
	background: white;
	border: 1px solid #dcdcdc;
	color: black;
	font: 10pt verdana;
	width: 100%;
}

.scInstallerField_Active {
	background: white;
	border: 1px solid activecaption;
	color: black;
	font: 10pt verdana;
	width: 100%;
}

.scInstallerFieldPair 
{
	margin-top:5px;
}

/* Sources TreeView */

.scInstallerTreeNode TD, 
.scInstallerTreeNode A, 
.scInstallerTreeNode A:visited
{
        cursor:hand;
        font-size:11px;
        color: black;
        font-family:Tahoma;
        padding:1px 0px 1px 1px;        
        text-decoration:none;
}

.scInstallerTreeNode A:active
{
   color: red;
   text-decoration: underline;
}

.scInstallerTreeNode A:hover
{
        cursor:hand;
        cursor:pointer;
        text-decoration:underline;
        font-size:11px;
        font-family:Tahoma;
        padding:1px 0px 1px 1px;                
}

.scInstallerTree
{
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr="#ffffff", EndColorStr="#DFE6EC");
}

.scInstallerPager
{
	color:#666;
	font-weight:bold;
}

.scInstallerCurrentPage
{
	color:#888;
	font-weight:bold;
}

.scInstallerSelected 
{
	color:#888;
	font-weight:bold;
}